body {
    margin: 0;
    padding: 0;
    font-family: 'Aileron', sans-serif;
    background: #00b2b2;
    color: white;
}

.center {
    text-align: center;
}

.mainCard {
    color: black;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    width:90%;
    height: 100%;
    border-radius: 1em;
    margin: .5em;
    padding: 0.6em;
}

.subCard {
    color: black;
    display: block;
    width: 99%;
    box-sizing: border-box;
    background-color: rgb(230, 230, 230);
    border-radius: 1em;
    margin: 0.3em;
    padding: 0.3em;
}
.cardContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.horizontalCardContainer {
    width: 40%; 
    height: 100%;
    display: flex;
    flex-direction: column;
}

td {
    width: 250px;;
}

.sideNavButton {
    width: 2em;
    left: 1em;
    top: 1em;
    position: absolute
}

.hoverPointer:hover {
    cursor: pointer;
}
.sideNav {
    position: absolute;
    display: none;
    background:rgb(230, 230, 230);
    height: 100%;
    left: 0px;
    top: 0px;
    padding: 1em;
}

.topNav {
    width:100%;
    top: 0px;
    float:right;
    background: white;
    color: black;
    margin-bottom: 1em;
    -webkit-box-shadow: 0px 5px 0px 0px rgb(230, 230, 230);
    -moz-box-shadow: 0px 5px 0px 0px rgb(230, 230, 230);
    box-shadow: 0px 5px 0px 0px rgb(230, 230, 230);
}