body {
    margin: 0;
    padding: 0;
    font-family: 'Aileron', sans-serif;
    background: #00b2b2;
    color: white;
    height: 100%;
}

input,
button {
  margin-top: 1em;
  border-radius: 1em;
  padding: 0.5em;
  border: none;
}

input {
    background: rgb(247, 247, 247);
}

form {
    display: flex;
    flex-direction: column;
}

.center {
    text-align: center;
}

.mainCard {
    color: black;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    width:90%;
    height: 100%;
    border-radius: 1em;
    margin: .5em;
    padding: 0.8em;
    max-width: 800px;
    -webkit-box-shadow: 0px 0px 11px 5px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 11px 5px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 11px 5px rgba(0,0,0,0.12);
}

.subCard {
    color: black;
    display: block;
    width: 99%;
    box-sizing: border-box;
    background-color: rgb(230, 230, 230);
    border-radius: 1em;
    margin-bottom: 0.5em;
    padding: 0.8em;
    border-radius: 1em;
}

.verticalCenter {
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.horizontalCardContainer {
    width: 40%; 
    height: 100%;
    display: flex;
    flex-direction: column;
}

td {
    width: 250px;;
}

.sideNavButton {
    width: 2em;
    left: 1.5em;
    top: 1.6em;
    position: absolute
}

.hoverPointer:hover {
    cursor: pointer;
}

.sideNav {
    position: absolute;
    display: none;
    background:rgb(255, 255, 255);
    height: 100%;
    left: 0px;
    top: 0px;
    padding: 1em;
    -webkit-box-shadow: 0px 0px 11px 5px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 11px 5px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 11px 5px rgba(0,0,0,0.12);
}

.topNav {
    padding: .5em;
    width:100%;
    top: 0px;
    float:right;
    background: white;
    color: black;
    margin-bottom: 1.5em;
    -webkit-box-shadow: 0px 0px 11px 5px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 11px 5px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 11px 5px rgba(0,0,0,0.12);
}

.inputLabel {
    margin-top: 0.85em;
    padding-left: 0.35em;
    font-weight: 600;
  }

/* Mobile CSS */

@media only screen and (max-width: 800px) {
 .cardContainer {
    flex-direction:  column;
 }   
}