<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BullyTracker</title>
    <style>
      th,
      td {
        padding: 0.6em;
        margin-bottom: 0.5em;
        -webkit-box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0.5em;
      }
    </style>
  </head>
  <body>
    <div class="sideNav" id="sideNav">
      <img
        src="/xmark.svg"
        alt=""
        class="hoverPointer"
        style="width: 2em"
        onclick="hideSideNav()"
      /><br /><a href="/manageStudentWatches">Manage Students and Watches</a
      ><br />
      <a href="/manageSchoolBoundaries">Manage School Boundaries</a><br />
      <a href="/manageWhatsappList">Manage Whatsapp Notification List</a><br />
      <a href="/logout">logout</a>
    </div>
    <nav class="topNav">
      <h1 class="center">Bully Tracker</h1>
    </nav>
    <img
      class="sideNavButton hoverPointer"
      src="/side-nav.svg"
      id="showSideNavImg"
      alt=""
      onclick="showSideNav()"
    />
    <div class="cardContainer">
      <div class="mainCard">
        <div class="subCard">
          <h2 class="center">Active Alerts</h2>
        </div>
        {% for alert in alertList %}
        <div class="subCard">
          <h3>SOS Alert!</h3>
          Student Name: {{alert.studentName}}<br />
          timestamp: {{alert.timestamp}}<br />
          location: {{alert.location}}
        </div>
        {% endfor %}
        <button onclick="clearAlerts()">Clear Alerts</button>
      </div>
      <div class="mainCard">
        <div class="subCard"><h2 class="center">Student Locations</h2></div>
        <div class="subCard">
          <table>
            <tr>
              <th>Student Name</th>
              <th>Location</th>
              <th>Last seen</th>
            </tr>
            {% for location in studentLocations %}
            <tr>
              <td>{{ location.studentName }}</td>
              <td>
                {% if 'locationLink' in location %}
                <a href="{{location.locationLink}}">{{location.location}}</a>
                {% else %} {{location.location}} {% endif %}
              </td>
              <td>{{ location.lastSeen }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <script>
      function clearAlerts() {
        fetch("/clearAlerts").then((response) => {
          location.reload();
        });
      }

      function hideSideNav() {
        document.getElementById("sideNav").style.display = "none";
        document.getElementById("showSideNavImg").style.display = "block";
      }

      function showSideNav() {
        document.getElementById("sideNav").style.display = "block";
        document.getElementById("showSideNavImg").style.display = "none";
      }
    </script>
  </body>
</html>
