<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <title>BullyTracker</title>
  </head>
  <body>
    <div class="sideNav" id="sideNav">
      <img
        src="/xmark.svg"
        alt=""
        class="hoverPointer"
        style="width: 2em"
        onclick="hideSideNav()"
      /><br />
      <a href="/manageStudentsWatches">Manage Students and Watches</a><br />
      <a href="/manageSchoolBoundaries">Manage School Boundaries</a><br />
      <a href="/manageWhatsappList">Manage Whatsapp Notification List</a><br />
      <a href="/logout">logout</a>
    </div>
    <nav class="topNav">
      <h1 class="center">Bully Tracker</h1>
    </nav>
    <img
      class="sideNavButton hoverPointer"
      src="/side-nav.svg"
      id="showSideNavImg"
      alt=""
      onclick="showSideNav()"
    />
    <div class="cardContainer">
      <div class="mainCard">
        <div class="subCard">
          <h2 class="center">Alerts</h2>
        </div>
        {% for alert in alertList %}
        <div class="subCard">{{alert}}</div>
        {% endfor %}
        <button onclick="clearAlerts()">Clear Alerts</button>
      </div>
      <div class="mainCard">
        <div class="subCard"><h2 class="center">Student Locations</h2></div>
        <div class="subCard">
          <table>
            <tr>
              <td><b>WatchId</b></td>
              <td><b>Student Name</b></td>
              <td><b>Location</b></td>
            </tr>
            <tr>
              <td>1</td>
              <td>ahmad</td>
              <td>Room 19</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <script>
      function clearAlerts() {
        fetch("/clearAlerts").then((response) => {
          location.reload();
        });
      }

      function hideSideNav() {
        document.getElementById("sideNav").style.display = "none";
        document.getElementById("showSideNavImg").style.display = "block";
      }

      function showSideNav() {
        document.getElementById("sideNav").style.display = "block";
        document.getElementById("showSideNavImg").style.display = "none";
      }
    </script>
  </body>
</html>
