<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Student Data</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <div class="verticalCenter">
      <div style="width: 100%">
        <div class="cardContainer">
          <div class="mainCard">
            <h2 class="center">Edit student data</h2>
            <form action="/editStudentData/{{watchId}}" method="POST">
              <input
                type="text"
                name="studentName"
                placeholder="Student Name"
              />
              <input type="text" name="grade" placeholder="Student Grade" />
              <button>Submit student data</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
