<!DOCTYPE html>
<html>
  <head>
    <title>Login page</title>
    <link rel="stylesheet" href="/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      /* input,
      button {
        margin-top: 1em;
        border-radius: 1em;
        padding: 0.5em;
        border: none;
      }

      input {
        background: rgb(247, 247, 247);
      }

      form {
        display: flex;
        flex-direction: column;
      } */
    </style>
  </head>
  <body>
    <div class="verticalCenter">
      <div style="width: 100%">
        <h1 class="center">Bully Tracker</h1>
        <div class="cardContainer">
          <div class="mainCard">
            <form id="loginForm" action="/login" method="POST">
              <input type="email" id="email" name="email" placeholder="email" />
              <input
                type="password"
                id="password"
                name="password"
                placeholder="password"
              />
              <input
                type="hidden"
                id="idtokenInput"
                name="idtoken"
                hidden="true"
              />
              <button type="button" id="loginButton">Login</button>
            </form>
            <button onclick="window.location='/register'">register</button>
            <br />
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="/firebaseLogin.js"></script>
  </body>
</html>
