<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/logoblue.png" />
    <title>Notification List</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <div class="verticalCenter">
      <div style="width: 100%">
        <div class="cardContainer">
          <div class="mainCard">
            <div style="display: flex; align-items: center; gap: 1em">
              <img
                src="/back.svg"
                alt=""
                width="40px"
                style="cursor: pointer"
                onclick="window.location='/'"
              />
              <h2 class="center">Messaging List</h2>
            </div>
            {% for contact in messaging_list %}
            <div class="subCard">
              {{contact.teacherName}} <br />
              {{contact.phoneNumber}} <br />
              <a href="/removeContact/{{contact.phoneNumber}}"
                >remove contact</a
              >
            </div>
            {% endfor %}
            <h3 style="margin-left: 0.1em">Add contact</h3>
            <form action="/manageWhatsappList" method="POST" id="contactForm">
              <div class="inputLabel">Teacher Name</div>
              <input
                type="text"
                name="teacherName"
                placeholder="Teacher Name"
                id="teacherName"
              />
              <div class="inputLabel">Phone Number</div>
              <input
                type="text"
                name="phoneNumber"
                placeholder="Phone Number (e.g. +966512345678)"
                id="phoneNumber"
              />
              <button type="button" onclick="submitContactForm()">
                Add new contact
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      function submitContactForm() {
        console.log("function call!");
        let form = document.getElementById("contactForm");
        let teacherName = document.getElementById("teacherName").value;
        let phoneNumber = document.getElementById("phoneNumber").value;

        let numberFormat = new RegExp("\\+[\\d]{12}");

        if (!teacherName) {
          alert("Teacher name can not be empty!");
          return;
        }

        if (!numberFormat.test(phoneNumber)) {
          alert(
            "Incorrect number format! make sure you enter the number as follows: +966512345678"
          );
          return;
        }

        form.submit();
      }
    </script>
  </body>
</html>
