<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notification List</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <div class="verticalCenter">
      <div style="width: 100%">
        <div class="cardContainer">
          <div class="mainCard">
            <h1 class="center">Messaging List</h1>
            {% for contact in messaging_list %}
            <div class="subCard">
              {{contact.teacherName}} <br />
              {{contact.phoneNumber}} <br />
              <a href="/removeContact/{{contact.phoneNumber}}"
                >remove contact</a
              >
            </div>
            {% endfor %}
            <h3 style="margin-left: 0.1em">Add contact</h3>
            <form action="/manageWhatsappList" method="POST">
              <input
                type="text"
                name="teacherName"
                placeholder="Teacher Name"
              />
              <input
                type="text"
                name="phoneNumber"
                placeholder="Phone Number (e.g. +966512345678)"
              />
              <button>Add new contact</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
