<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/main.css" />
    <style>
      input,
      button,
      select {
        margin-top: 1em;
        border-radius: 1em;
        padding: 0.5em;
        border: none;
      }

      input {
        background: rgb(247, 247, 247);
      }

      form {
        display: flex;
        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <div class="verticalCenter">
      <div style="width: 100%">
        <h1 class="center">Register</h1>
        <div class="cardContainer">
          <div class="mainCard">
            <form
              id="registerForm"
              action="/register"
              method="POST"
              onsubmit="validate()"
            >
              <div class="inputLabel">Username</div>
              <input type="text" name="username" placeholder="username" />
              <div class="inputLabel">E-mail</div>
              <input type="email" name="email" placeholder="email" />
              <div class="inputLabel">Password</div>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="password"
              />
              <div class="inputLabel">Confirm Password</div>
              <input
                type="password"
                id="confirmPassword"
                placeholder="password"
              />
              <input
                type="hidden"
                name="accountType"
                id="accountType"
                placeholder="Account type"
                value="schoolAdmin"
              />
              <div class="inputLabel">School Name</div>
              <input
                type="text"
                name="schoolName"
                id="schoolName"
                placeholder="School Name"
              />
              <button type="button" onclick="validateAndSubmitForm()">
                Register
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      function validateAndSubmitForm(event) {
        let form = document.getElementById("registerForm");
        let password = document.getElementById("password").value;
        let confirmPassword = document.getElementById("confirmPassword").value;
        if (password == confirmPassword) form.submit();
        else alert("Passwords don't match!");
      }
    </script>
    <script>
      {% if failed %}
        alert("{{ failure_message }}")
      {% endif %}
    </script>
  </body>
</html>
