<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/main.css" />
    <style>
      input,
      button,
      select {
        margin-top: 1em;
        border-radius: 1em;
        padding: 0.5em;
        border: none;
      }

      input {
        background: rgb(247, 247, 247);
      }

      form {
        display: flex;
        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <div class="cardContainer">
      <div class="mainCard">
        <form action="/register" method="POST">
          <input type="text" name="username" placeholder="username" />
          <input type="text" name="email" placeholder="email" />
          <input type="text" name="password" placeholder="password" />
          <select
            name="accountType"
            id="accountType"
            placeholder="Account type"
          >
            <option value="schoolAdmin">School Admin</option>
            <option value="parentAccount">Parent Account</option>
          </select>
          <input
            type="text"
            name="schoolName"
            id="schoolName"
            placeholder="School Name"
          />
          <button>Register</button>
        </form>
      </div>
    </div>
    {% if failed %} failed to Register {% endif %}
  </body>
</html>
